// Site color palette
green= #267e64
nightgreen= #455652
darkgreen = #134a3b
slate= #eceee6
sand = #f8f5e4
dirt = #AD9D71

// 50 shades of gray
white= #fff
steam= #f8f8f8
cloud= #e5e6e7
graphite= #ccc
tin = #999
stone= #7f7e7e
lead= #666
charcoal= #333
black= #000
