//- script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")

script(type='text/javascript' src="js/classie.js")
script(type='text/javascript' src="js/helper.js")
script(type='text/javascript' src="js/grid3d.js")
script(type='text/javascript').
  new grid3D( document.getElementById( 'grid3d' ) );
