extends layout

block content
  
  - var members = contentful.homepage[0].addFamilyMembers
  
  .container

    section#grid3d.grid3d.vertical
      .grid-wrap
        .grid
          - for member in members
            figure(style="background-image:url(http:#{asset(member.fields.photo)});")
              //-img(class='objfit', src= asset(member.fields.photo), alt= member.fields.name)

              
      .content
        - for member in members
          div
            .mastimg(style="background-image:url(http:#{asset(member.fields.photo)}); background-color:#CCC;")
            h2= member.fields.name
            div
              != marked(member.fields.bio)
              
            - if (member.fields.facebook)
              a(href= member.fields.facebook) Facebook
              
            - if (member.fields.twitter)
              a(href= member.fields.twitter) Twitter
              
            - if (member.fields.instagram)
              a(href= member.fields.instagram) Instagram
              
            - if (member.fields.Github)
              a(href= member.fields.facebook) Github
              
            - if (member.fields.px)
              a(href= member.fields.px) 500px
            
        span.loading
        span.icon.close-content
