doctype html
html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Gandhi-Shepard | Benjamin Minal Amir Rajan and cats
    meta(name="description", content="We fell in love and made a family of awesomizers")
    meta(name="author", content="Gandhi-Shepard")
      
    link(rel="shortcut icon", href="../favicon.ico")
    link(rel="stylesheet", type="text/css", href="css/master.css")
    script(src="js/modernizr.custom.js")
  body

    block content

    include inc/scripts
  
